body{
	background-color: #000000;
}
#container {
	width: 320px;
	height: 480px;
	background: url('../img/bg.png');
	margin: 0 auto;
}
.button {
	position: relative;
	top: 140px;
	left: 85px;
	-webkit-filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.3));
}